.container{
    // padding: 0 15px;
    margin: 0 auto;
    @media (min-width:1441px) {
        width: 1367px;
    }
    @media (min-width:1200px) and (max-width:1440px) {
        width: 1110px;
    }
    @media (min-width:992px) and (max-width:1200px) {
        width: 930px;
    }
    @media (min-width:768px) and (max-width:992px) {
        width: 700px;
    }
    @media (min-width:576px) and (max-width:768px) {
        width: 510px;
    }
    @media (min-width:441px) and (max-width:576px) {
        width: 370px;
    }
    @media (max-width:441px) {
        max-width: 260px;
        padding: 0 10px;
    }
}